body{
   
       

}
img{
	
	height:10cm;
	width:100%;
margin:1em 0 1em 0;	
}
.navi{
		height:2cm;
		position:absolute;
		width:100%;
		background-color:#efefef;
		margin-left:0px;
		}
.gs{
	position:relative;
	top:2cm;
	}	
.navi ul li{
		list-style-type:none;
		display:inline;
		font-size:30px;
		top:.5cm;
		}	
		.navi ul li:hover{
		list-style-type:none;
		display:inline;
		font-size:30px;
		border:1px solid;
		position:relative;
		top:.5cm;
		}
		.navi ul li a:hover{
			text-decoration:none;
		}
.banner{
		background-image:url("../img/banner.jpg");
		height:12.5cm;
		background-size:cover;
		width:100%;	
		}
.banner h1{
		font-family:"Edwardian Script ITC";
		font-size:100px;
		position:relative;
		top:3cm;
		color:white;
		}		
.footer{
		height:2cm;
		position:relative;
		top:2cm;
		background-color:black;
		}
.container span{
		position:relative;
		top:1cm;
}
.contact{
		padding-bottom:2em;
		padding-top:2em;
		position:relative;
		height:13cm;	
		}			
.contact input[type=input]{
		width:100%;
		}
.contact textarea{
		height:3.8cm;
		width:100%;		
		}		
.contact h1{
		text-align:center;
		}
		.contact input[type=submit]{
		width:100%;
		height:1cm;
		}
.abt{
	padding-top:1cm;
	height:6cm;
	width:100%;
	}
.img1 img{
	width:100%;
	height:11cm;
}
table{
	height:6cm;
	}